*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.container{
    border: 1px solid gray;
    width: 28%;
    border-radius: 10px;
    margin: 5rem auto;
    text-align: center;
    height: auto;
}
.list{
    padding: 5px 28px;
    margin: 5% auto;
    width: 89%;
    border: 1px solid gray;
    text-align: left;
    border-radius: 10px;


}
h1{
    margin: 20px auto;
}
li div{
    display: flex;
    justify-content: space-between;
}
.yellow{
    background-color: yellow;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
    height: 28px;
 
}
input{
    width: 80%;
    padding: 6px;
    margin:0 0 20px 0;
    border-radius: 10px;
    outline: gray;
}
.input{
    position: relative;
}

i.x{
    position: absolute;
    opacity: 0.3;
    top: 7px;
    right: 3rem;
    font-size: 18px;
}
.icon{
    display: block;
}
li{
   
    display: flex;
    justify-content: space-between;
}
span{
    overflow: auto;
    margin-right: 4px;
}

i:hover{
    opacity: 1;
    color: rgb(255, 0, 0);
}
.d-none{
  display: none;
}
.btn{
    color: #FFF;
text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: bold;
line-height: normal;
width: 129px;
border:none;
padding: 0 20px;
border-radius: 30px;
height: 42px;
background-color: #833ae0;
flex-shrink: 0;
margin: 15px;
}
.filter{
    width: 89%;
    text-align: end;
}
.validation-span
{   
    margin-left: 44px;
    display: none;
    font-size: itali;
    font-style: italic;
    text-align: left;
    color: red;
}
a{
    border-radius: 30px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    background-color: #833ae0;    
    display: block;
    margin: 10px auto;
    padding: 9px 32px;
    width: 41%;
    }